*.DS_Store
*.vscode
*.pycache

/eval_env
/IMD2020
test_file.ipynb
archive/
Archive.zip
train_deeplab.py
inference_classifiers.pyArchive.zip
*__pycache__/
inferece_classifiers.py
sd2-fr-testing/
sd2-fr_testing.tar.gz
sd2-fr-testing-masks/
masks-sd2_testing.tar.gz
sd2-patches/
sd2-classification/
sd2_training_package.tar.gz
patches-fake/
patches-real/
Archive 2.zip